@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro:wght@300;400;600&family=Work+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  font-family: "Lato", sans-serif;
}

.customNav {
  font-family: "Lato", sans-serif;
  padding: 10px;
  margin-bottom: 60px;
  color: white;
  text-transform: uppercase;
}

.customNav .nav-link {
  color: white;
}

.customNav .navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 2em;
  color: white;
  text-transform: none;
}

.customNav .navbar-brand .senja {
  color: #f17e3a;
}

.headerBox {
  margin-top: -200;
  min-height: 98vh;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../public/f12m.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.headerBox:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: black;
  opacity: 0.6;
}

.headerBox h1 {
  position: relative;
  z-index: 10;
  color: white;
  margin-left: 4em;
  margin-top: 5em;
  font-size: 5em;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.headerBox h1 .stroke {
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #fff;
}

.headerBox .hBtn {
  display: inline-block;
  margin-top: 1em;
  margin-left: 20em;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

.headerBox .hBtn .btnText {
  display: inline-block;
  letter-spacing: 7px;
  font-weight: 400;
  font-size: 12px;
  padding: 20px 33px 20px 40px;
  text-transform: uppercase;
}

.headerBox .hBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.headerBox .hBtn:hover::before {
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

.headerBox .hBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.headerBox .hBtn:hover::after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.portofolioBox {
  color: white;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portofolioBox .r-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portofolioBox .r-text .title {
  letter-spacing: 3px;
  font-weight: 900;
  line-height: 1;
  z-index: 2;
  display: inline-block;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #fff;
  margin-right: -30%;
}

.portofolioBox .r-text .title span {
  position: relative;
  right: 0;
  z-index: 100;
  font-size: 15em;
}

.portofolioBox .card {
  margin-left: 60px;
  margin-bottom: 60px;
  color: black;
}

.aboutRoot {
  padding: 50px;
  background: #444;
  color: #fff;
}

footer {
  text-align: center;
  margin-top: 60px;
  font-size: 1em;
}
/*# sourceMappingURL=main.css.map */