@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro:wght@300;400;600&family=Work+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

.customNav {
  font-family: "Lato", sans-serif;
  padding: 10px;
  margin-bottom: 60px;
  color: white;
  text-transform: uppercase;
}

.customNav .nav-link {
  color: white;
  margin-left: 1em;
}

.customNav .nav-link:hover {
  color: #f17e3a;
}

.customNav .navbar-brand {
  margin-left: 10px;
  font-family: "Lobster", cursive;
  font-size: 2em;
  color: white;
  text-transform: none;
}

.customNav .navbar-brand .senja {
  color: #f17e3a;
}

.headerBox {
  margin-top: -200;
  min-height: 98vh;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../public/f12m.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.headerBox:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#000), to(#000));
  background-image: linear-gradient(to right, #000, #000);
  opacity: 0.5;
}

.headerBox h1 {
  position: relative;
  z-index: 10;
  color: white;
  margin-left: 4em;
  margin-top: 5em;
  font-size: 5em;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.headerBox h1 .stroke {
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #fff;
}

.headerBox .hBtn {
  display: inline-block;
  margin-top: 1em;
  margin-left: 20em;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

.headerBox .hBtn .btnText {
  display: inline-block;
  letter-spacing: 7px;
  font-weight: 400;
  font-size: 12px;
  padding: 20px 33px 20px 40px;
  text-transform: uppercase;
}

.headerBox .hBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.headerBox .hBtn:hover::before {
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

.headerBox .hBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.headerBox .hBtn:hover::after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.portofolioBox {
  color: white;
  background: #2c2c2c;
}

.portofolioBox .r-text {
  text-align: center;
}

.portofolioBox .r-text .title {
  letter-spacing: 3px;
  font-weight: 900;
  line-height: 1;
  z-index: 2;
  display: block;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #fff;
  margin-bottom: 60px;
  margin-top: 60px;
}

.portofolioBox .r-text .title span {
  position: relative;
  right: 0;
  z-index: 100;
  font-size: 15em;
}

.portofolioBox .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  color: black;
}

.aboutBox {
  padding: 50px;
  background: black;
  color: #fff;
}

.aboutBox .list-group {
  margin-left: 1em;
}

.aboutBox .cCols {
  padding-bottom: 2em;
}

.aboutBox .cRows {
  padding-bottom: 5em;
}

.aboutBox .headline-xxs {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

footer {
  /* main content overlay fix */
}

footer .footer-nav-btn {
  opacity: 0.6;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 1.2;
  -webkit-transition: 0.5s cubic-bezier(0.225, 1, 0.316, 0.99);
  transition: 0.5s cubic-bezier(0.225, 1, 0.316, 0.99);
}

footer .footer-nav-btn:hover {
  opacity: 1;
}

footer .copyright {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: 1.4;
  text-transform: uppercase;
}

footer .copyright .copyright__author {
  font-weight: 700;
}

footer .next-project-footer {
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

footer .main-content {
  overflow: hidden;
  position: relative;
}

footer .has-scroll-smooth .main-content {
  z-index: 2;
  pointer-events: none;
}

footer .has-scroll-smooth .page-head-footer-overlay-fix,
footer .has-scroll-smooth .page-head-footer-overlay-fix * {
  pointer-events: none !important;
}

footer .has-scroll-smooth .page-head-footer-overlay-fix.is-inview,
footer .has-scroll-smooth .page-head-footer-overlay-fix.is-inview * {
  pointer-events: auto !important;
}
/*# sourceMappingURL=main.css.map */