.teamContainer {
    display: flex;
}

.teamRow {
    flex: 1;
    /* Space between columns */
    margin: 0 8px;

    /* Layout each column */
    display: flex;
    flex-direction: column;
}

.teamCol {
    /* Take available height */
    flex: 1;
}
