@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro:wght@300;400;600&family=Work+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$senja: #f17e3a;
$portofolio: #ffa874;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

html {
  scroll-behavior: smooth;
}
// Body
body {
  font-family: "Lato", sans-serif;
  min-width: 100vh;
}

// Navbar
.customNav {

  .navbar-brand {
    margin-left: 10px;
    font-family: "Lobster", cursive;
    font-size: 5em;
    color: white;
    text-transform: none;

    .senja {
      color: $senja;
      transition: 0.4s;
    }
  }
}

// Header
.headerBox {
  .bg {
    background-image: url(/f12m.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 31em;
  }

  h1 {
    color: white;
    margin-left: 1em;
    margin-top: 5em;
    font-size: 5em;
    // margin-bottom: 7em;
    font-family: "Lato", sans-serif;
    font-weight: 700;

    .stroke {
      color: transparent;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: #fff;
    }
  }
}

.hiring {
  padding: 4em 0 4em 0;

  h1 {
    margin-left: 3em;
  }

  .video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // min-height: 70vh;
    overflow: hidden;
  }

  iframe {
    position: relative;
    width: 500px;
    height: 250px;
  }

  p {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    a {
      text-transform: uppercase;
      color: #2e91f7;
      text-decoration: none;
      margin-left: 3px;
    }
  }
}

// About
.aboutBox2 {
  padding: 6em;
  text-align: left;

  .betterDark {
    background-color: white;
    color: #000;
  }

  .title {
    font-size: 1.5em;
  }

  .content {
    font-size: 1.5em;
    margin-left: -2em;
  }
}

.aboutBox {
  text-align: left;
  padding: 6em;
  background: black;
  color: #fff;

  .title {
    font-size: 1.5em;
  }

  .content {
    font-size: 1.5em;
    margin-left: -2em;
  }

  .plsTengah {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .ourSkill {
    margin-top: 0;
    padding: 1em;

    p {
      display: flex;
      align-self: center;
      justify-content: center;
      text-align: center;
    }

    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
  }
  .ourSkill2 {
    padding: 1em;

    p {
      display: flex;
      align-self: center;
      justify-content: center;
      text-align: center;
    }

    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
  }

  .list-group {
    margin-left: 1em;
  }

  .cCols {
    padding-bottom: 2em;
  }

  .cRows {
    padding-bottom: 5em;
  }

  .aStroke {
    font-weight: 700;
    font-size: 5em;
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fff;
  }

  hr {
    background: white;
  }
  // margin-top: 50px;
}

// Marquee
.marqueeRoot {
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    p {
    }
  }
  padding: 3em;
}

// Footer
footer {
  padding: 4em 6em 1em 6em;
  background: black;
  color: white;

  li {
    list-style-type: none;
    a:hover {
      color: white;
      border-bottom: 1px solid white;
    }
  }

  a {
    color: white;
    text-decoration: none;
    opacity: 0.6;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1.2;
  }

  .fRows {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;

    h1 {
      font-size: 3em;
      margin-left: -0.3em;
    }
  }

  .fRows2 {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;

    h1 {
      margin-bottom: 1.5em;
    }

    .contact {
      margin-top: -1.5em;
      a {
        color: white;
        text-decoration: none;
        opacity: 0.6;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        line-height: 1.2;
        margin-left: 0.2em;
      }
      a:hover {
        color: white;
        border-bottom: 1px solid white;
      }
    }
  }

  .fRows3 {
    border-top: 1px solid white;
    margin-bottom: 1em;
    padding-top: 1em;

    li {
      margin-top: 2em;
      margin-left: -1.8em;
      display: inline;
    }
  }

  li:hover {
    color: white;
    border-bottom: 1px solid white;
  }

  h4 {
    font-size: 4em;
  }
}

@media (min-width: 992px) {
  body {
    font-family: "Lato", sans-serif;
  }

  // Navbar
  .customNav {
    font-family: "Lato", sans-serif;
    color: white;
    text-transform: uppercase;

    .navbar-brand {
      font-family: "Lobster", cursive;
      margin-top: -0.3em;
      font-size: 5em;
      color: white;
      text-transform: none;

      .senja {
        color: $senja;
        transition: 0.4s;
      }
    }
  }

  // Header
  .headerBox {
    .bg {
      position: relative;
      min-height: 100vh;
      background-image: url(/f12m.png);
      background-color: rgba($color: #000000, $alpha: 0.7);
      background-size: cover;
      background-repeat: no-repeat;
      padding-bottom: -50em;
    }

    h1 {
      position: relative;
      z-index: 10;
      color: white;
      margin-left: 0.5em;
      margin-top: 3em;
      // margin-bottom: 5em;
      font-size: 5em;
      font-family: "Lato", sans-serif;
      font-weight: 700;

      .stroke {
        color: transparent;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: #fff;
      }
    }
  }
  .hiring {
    margin-top: 6em;
    margin-bottom: 3em;
    margin-left: 4.5em;

    .flex {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h1 {
      margin-left: -0.01em;
      margin-bottom: 1em;
    }

    iframe {
      width: 1000px;
      position: relative;
      height: 500px;
    }

    .video {
      margin-left: -4.5em;
    }

    p {
      margin-top: 2em;
    }
  }

  // About
  .aboutBox {
    text-align: left;
    padding: 6em;
    background: black;
    color: #fff;

    .title {
      margin-left: 0;
    }

    p {
      font-size: 1em;
      margin-left: 1em;
    }

    .content {
      font-size: 1em;
      margin-right: 0;
    }

    .plsTengah {
      padding: 10px;
      display: flex;
      align-items: center;
    }

    .ourSkill {
      margin-top: 0;
      padding: 1em;

      p {
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
      }

      border-top: 1px solid white;
      border-bottom: 1px solid white;
      display: flex;
      justify-content: center;
    }
    .ourSkill2 {
      padding: 1em;

      p {
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
      }

      border-bottom: 1px solid white;
      display: flex;
      justify-content: center;
    }

    .list-group {
      margin-left: 1em;
    }

    .cCols {
      padding-bottom: 2em;
    }

    .cRows {
      padding-bottom: 5em;
    }

    .aStroke {
      font-weight: 700;
      font-size: 5em;
      color: transparent;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: #fff;
    }

    hr {
      background: white;
    }
    // margin-top: 50px;
  }

  .aboutBox2 {
    .title {
      margin-left: 0;
    }

    p {
      margin-left: 1em;
      font-size: 1em;
    }

    .content {
      font-size: 1em;
    }

    b {
      margin-left: 1em;
    }
  }

  // Marquee
  .marqueeRoot {
    padding: 4em 6em 4em 6em;

    .content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    img {
      position: relative;
    }
  }

  // Footer
  footer {
    padding: 5em 5em 5em 5em;
    background: black;
    color: white;

    .fRows {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5em;

      h1 {
        margin-left: 0.01em;
      }
    }

    .fRows2 {
      display: flex;
      justify-content: center;
      margin-top: 2em;
      margin-bottom: 2em;

      h1 {
        margin-bottom: 1em;
        margin-left: 0.4em;
        font-size: 2em;
      }

      .contact {
        margin-top: -1.5em;
        a {
          color: white;
          text-decoration: none;
          opacity: 0.6;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: 4px;
          line-height: 1.2;
          margin-left: 1.1em;
        }
        a:hover {
          color: white;
          border-bottom: 1px solid white;
        }
      }
    }

    .fRows3 {
      border-top: 1px solid white;

      li {
        margin-left: -1em;
      }
    }

    li:hover {
      color: white;
      border-bottom: 1px solid white;
    }

    h4 {
      font-size: 4em;
    }

    .cr {
      margin-bottom: 1em;
    }
  }
}

@media (min-width: 1920px) {
  .headerBox {
    h1 {
      margin-left: -2em;
      margin-top: 4em;
    }
  }

  .hiring {
    h1 {
      margin-left: -0.9em;
    }

    p {
      margin-top: 1.5em;
    }
  }

  .aboutBox {
    font-size: 1em;
  }

  footer {
    .fRows {
      h1 {
        margin-left: -0.35em;
      }
    }

    .fRows2
    h1 {
      margin-left: -0.1em;
    }

    p {
      margin-left: -1em;
    }

    a {
      margin-left: -1.3em;
    }
  }
}