@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro:wght@300;400;600&display=swap");

$senja: #f17e3a;

// Body
body {
  font-family: "Source Sans Pro", sans-serif;
}

// Navbar
.customNav {
  padding: 10px;
  margin-bottom: 60px;
  color: white;

  .nav-link {
    color: white;
  }

  .navbar-brand {
    font-family: "Lobster", cursive;
    font-size: 2em;
    color: white;

    .senja {
      color: $senja;
    }
  }
}

// Header
.headerBox {
  margin-top: -200;
  min-height: 100vh;
  background-image: url("../public/f12m.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    margin-left: 100px;
    margin-top: 4em;
    font-size: 4em;

    .stroke {
      color: white;
    }
  }
}

// Portofolio
.portofolioBox {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

// Footer
footer {
  text-align: center;
  margin-top: 60px;
  font-size: 1em;
}
