@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro:wght@300;400;600&family=Work+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$senja: #f17e3a;
$portofolio: #ffa874;

html {
  scroll-behavior: smooth;
}
// Body
body {
  font-family: "Lato", sans-serif;
}

// Navbar
.customNav {
  font-family: "Lato", sans-serif;
  padding: 10px;
  margin-bottom: 60px;
  color: white;
  text-transform: uppercase;

  .nav-link {
    color: white;
    margin-left: 1em;
  }

  .nav-link:hover {
    color: $senja;
  }

  .navbar-brand {
    margin-left: 10px;
    font-family: "Lobster", cursive;
    font-size: 2em;
    color: white;
    text-transform: none;

    .senja {
      color: $senja;
    }
  }
}

// Header
.headerBox {
  margin-top: -200;
  min-height: 98vh;
  background-color: rgba($color: #000000, $alpha: 0.7);
  background-image: url("../public/f12m.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #000, #000);
    opacity: 0.5;
  }

  h1 {
    position: relative;
    z-index: 10;
    color: white;
    margin-left: 4em;
    margin-top: 5em;
    font-size: 5em;
    font-family: "Lato", sans-serif;
    font-weight: 700;

    .stroke {
      color: transparent;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: #fff;
    }
  }

  .hBtn {
    display: inline-block;
    margin-top: 1em;
    margin-left: 20em;
    color: #fff;
    transition: all 0.5s;
    position: relative;

    .btnText {
      display: inline-block;
      letter-spacing: 7px;
      font-weight: 400;
      font-size: 12px;
      padding: 20px 33px 20px 40px;
      text-transform: uppercase;
    }
  }

  .hBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
  }

  .hBtn:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  .hBtn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
  }

  .hBtn:hover::after {
    opacity: 1;
    transform: scale(1, 1);
  }
}

// Portofolio
.portofolioBox {
  // margin-top: 1px;
  color: white;
  background: rgb(44, 44, 44);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .r-text {
    // display: flex;
    text-align: center;
    // justify-content: center;

    .title {
      letter-spacing: 3px;
      font-weight: 900;
      line-height: 1;
      z-index: 2;
      display: block;
      text-transform: uppercase;
      color: transparent;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: #fff;
      // margin-right: -30%;
      margin-bottom: 60px;
      margin-top: 60px;
      span {
        position: relative;
        right: 0;
        z-index: 100;
        font-size: 15em;
      }
    }
  }

  .card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
    color: black;
  }
}

// About
.aboutBox {
  padding: 50px;
  background: black;
  color: #fff;

  .list-group {
    margin-left: 1em;
  }

  .cCols {
    padding-bottom: 2em;
  }

  .cRows {
    padding-bottom: 5em;
  }

  .headline-xxs {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
  }
  // margin-top: 50px;
}
// Footer
footer {
  .footer-nav-btn {
    opacity: 0.6;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1.2;
    transition: 0.5s cubic-bezier(0.225, 1, 0.316, 0.99);
  }

  .footer-nav-btn:hover {
    opacity: 1;
  }

  .copyright {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 1.4;
    text-transform: uppercase;
  }

  .copyright .copyright__author {
    font-weight: 700;
  }

  .next-project-footer {
    position: absolute;
    left: 50%;
    bottom: 30px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  /* main content overlay fix */
  .main-content {
    overflow: hidden;
    position: relative;
  }

  .has-scroll-smooth .main-content {
    z-index: 2;
    pointer-events: none;
  }

  .has-scroll-smooth .page-head-footer-overlay-fix,
  .has-scroll-smooth .page-head-footer-overlay-fix * {
    pointer-events: none !important;
  }

  .has-scroll-smooth .page-head-footer-overlay-fix.is-inview,
  .has-scroll-smooth .page-head-footer-overlay-fix.is-inview * {
    pointer-events: auto !important;
  }
}
